<button><a href="{% url 'linear' %}">linear </a></button>
<button><a href="{% url 'ridge' %}">ridge </a></button>
<button><a href="{% url 'lasso' %}">lasso </a></button>
<button><a href="{% url 'enr' %}">enr </a></button>
<button><a href="{% url 'ard' %}">ard </a></button>
<button><a href="{% url 'sgd' %}">sgd </a></button>
<button><a href="{% url 'svr' %}">svr </a></button>
<button><a href="{% url 'dtr' %}">dtr </a></button>
<button><a href="{% url 'rfr' %}">rfr </a></button>
<button><a href="{% url 'gbr' %}">gbr </a></button>
<button><a href="{% url 'lgbm' %}">lgbm </a></button>
<button><a href="{% url 'xgbr' %}">xgbr </a></button>
<button><a href="{% url 'guassian' %}">guassian </a></button>
<button><a href="{% url 'knr' %}">knr </a></button>
<button><a href="{% url 'mlp' %}">mlp </a></button>