{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="{% static './css/forms/model.css' %}" rel="stylesheet">

<section>
    <div class="imgBx">
        <img src="{% static './img/parameter.jpeg' %}">
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h1>Parameter Tuning</h1>

            


            <form action="{% url 'tuningMethod' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="dropdown my-5">
                    <button class="btn btn-default" type="button" data-toggle="dropdown">
                        Choose Model
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="test" href="{% url 'tuningRegression' %}">Regression</a>
                            <a class="test" href="{% url 'tuningClassification' %}">Classification</a>
                        </li>
                    </ul>
                </div>
            </form>

        </div>
    </div>
</section>

{% endblock %}