{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="{% static './css/forms/style.css' %}" rel="stylesheet">

<section>
    <div class="imgBx">
        <img src="{% static './img/processing.png' %}">
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h1>Pre Processing</h1>

            <form action="{% url 'preprocessingCol' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="inputBxfile">
                    <span> Upload Dataset</span>
                    <input type="file" class="abc" name="csvfile" accept=".csv" required>
                </div>
                <div class="inputBx">
                    <span>Numerical data</span>
                    <input type="text" placeholder="zero based indexing" name="num">
                </div>
                <div class="inputBx">
                    <input type="submit" value="Submit" name="">
                </div>

            </form>

        </div>
    </div>
</section>



{% endblock %}